.mainContainer{
  width:100%;
  min-height:100vh;
  background-color: #fff;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding:10px;
}

.logo{
  width:30% !important;
}

.container{
  width: 99%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}