.latestNewsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.header p{
    color: #003569;
    font-size: 0.9rem;
    font-family: jost;
}
.header h3{
    font-size: 1.5rem;
    color: #17414F;
    font-family: jost;
}

.newsContainer{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 25px;
}

@media screen and (min-width:768px) {
    .newsContainer{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:1024px) {
    .newsContainer{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.bigSmallCon{
    width: 98%;
    flex-grow: 1;
}

.big{
    width: 100%;
    height: 320px;
    background-position: center;
    object-fit: scale-down;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}



.big p{
    color: #fff;
    font-weight: 700;
    margin-top: 10px;

}

.small{
    width: 100%;
    height: 100px;
    background-image: url("/blog1-450x580.jpg.png");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.small p{
    color: #fff;
    font-weight: 700;
    margin-top: 10px;
    
}

.bg-1{
    background-image: url("/blog1-450x580.jpg.png");
}

.bg-2{
    background-image: url("/blog2-450x580.jpg.png");
}

.tag{
    position: absolute;
    top: 10px;
    left: -10px;
    background-color: #003569;
    color: #fff;
    border-radius: 0px 20px 20px 0px;
    font-size: 0.8rem;
    padding: 5px 10px;
}

@media screen and (min-width:768px){
    .newsContainer{
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}
